<% provide(:title, "Edit My Recipe") %>
<div class='page-header'><h1>Edit My Recipe</h1></div>

<% if @recipe.errors.size > 0 %>
	<div class='alert alert-danger'>
		<strong> Critical Error : </strong> <%= @recipe.errors.full_messages.first %>
	</div>
<% end %>

<BR>

<div class='main_contents'>
<%= form_for @recipe do |f| %>

			<div class="input-group input-group">
			<%= f.label :category_id %><br>	
			<%= f.select :category_id, Category.all.collect { |x| [x.name,x.id] }, { :include_blank => "Select One" } , { :class => 'form-control' } %>
			</div>

			
			<p>
			<%= f.label :item %><br>
			<%= f.text_field :item, :class => 'form-control' %>
			</p>

	
			<p>
			<%= f.label :ingredients %><br>
			<%= f.cktext_area :ingredients,  :rows => 10, :class => 'form-control' %>
			</p>

			<p>
			<%= f.label :procedure %><br>
			<%= f.cktext_area :procedure , :rows => 20, :class => 'form-control ' %>
			</p>


			<%= f.button :submit, class: "btn btn-primary" do %>
		  		<span class='glyphicon glyphicon-circle-arrow-up'></span> Update
			<% end %>

<% end %>

</div>